*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: var(--ltn__body-font);
    font-style: normal;
    font-weight: 400;
    line-height: 1.8;
    margin: 0 auto;

}
.navbar
{
 display: flex;
 align-items: center;
 justify-content: space-around;
 width: 100%;
 /* position: fixed; */
 margin-top: 20px;

}
.navbar a{
    color: black;
}
.logo{
    font-size: 20px;
}
.ex{
    color: brown;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar ul li{
    margin: 0 20px;
    size: 30rem;
}
.navbar ul li .active{
    color: brown;
}
.navbar ul li img{
    background-color: black;
    width: 30%;
    margin-top: 10px;
}
.home{
    position: relative;
    border-width: 2px solid transparent;
    
}
.div-home{
    position:relative;
	margin:0 auto;
    left: 0;
    top: 0;
    /* border: 1px solid transparent;
    animation:animate 6s ease-in-out infinite ;
    background-size:cover;
    */
    /* margin-top: 40px; */
    padding: 400px;
   
} 
.div-home img{
    width: 100%;
    position:absolute;
	left:0;
    top: 30px;
    padding: 40px;
}
.div-home img.image-de-dessus{
    animation-name: fondu-in-out;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-duration: 6s;
	animation-direction: alternate;
}

@keyframes fondu-in-out {
	0%    { opacity:1; transform: scale(1,1);
           -webkit-transform:scale(1,1); }
	25%   { opacity:1; transform: scale(0.99,0.99);
        -webkit-transform:scale(0.99,0.99);}
	75%   { opacity:0; transform: scale(0.98,0.98);
        -webkit-transform:scale(0.98,0.98);}
	100%  { opacity:0; transform: scale(0.96,0.96);
        -webkit-transform:scale(0.96,0.96);}
}

/* 
@keyframes animate {
    0%{
    
      background-image:url(img1.jpg);
      transform: scale(1,1);
      -webkit-transform:scale(1,1);
     }
  
     25%{
      background-image: url(img1.jpg);
      transform: scale(0.99,0.99);
      -webkit-transform:scale(0.99,0.99);
     }
     50%{
      background-image:url(img1.jpg);
      transform: scale(0.98,0.98);
      -webkit-transform:scale(0.98,0.98);
     }
     75%{
      background-image: url(img2.jpg);
      transform: scale(0.97,0.97);
      -webkit-transform:scale(0.97,0.97);
  
    }
    100%{
      background-image: url(img2.jpg);
      transform: scale(0.96,0.96);
      -webkit-transform:scale(0.96,0.96);
    }
   } */
   .content{
    position: absolute;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: -200px;
    margin-left: -200px;
    
   }
   .paragra1{
    text-align: left;
   }
   .paragra2{
    text-align: end;
   }
   .paragra3{
    text-align: end;
   }
   .paragra4{
    text-transform: uppercase ;
    font-weight: 500;
    font-size: 120px ;
    color: beige;
   }
   .paragra5{
    text-align: end;
   }
   .paragra6{
    text-align: end;
    width: 100%;
    
   }
   .btn1{
    padding: 10px;
    border-radius: 0.1rem;
    border-color: beige;
    opacity: 0.7;
    background-color:rgb(111, 14, 34);
    cursor: pointer;
    color:white;
    font-size: 14px;
    margin: 8px 6px; 
   }
   .btn2{
    border-radius: 0.1rem;
    border-color: beige;
    opacity: 0.7;
    padding: 10px;
    background-color:rgb(37, 30, 37);
    cursor: pointer;
    color:white;
    font-size: 14px;
    margin: 8px 4px; 
   }
   .article-home{
    position: absolute;
    top: 810px;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    
   }
   .div-home1{
    text-align: center;
    width: 32%;
   }
   
   .div-home2{
    text-align: center;
    width:32%;
   }
   
   .div-home3{
    text-align: center;
    width: 32%;
   }
   .haut1{
    background-color: rgb(43, 43, 97);
    opacity: 0.6 ;
    color: beige;
    height: 15vh;
    border: 1px solid transparent;
   }
   .haut1 h2{
     font-weight: 300;
   }
   .haut1 p{
    font-size: 18px;
    color: beige;
   }
   .bas1{
    border: 1px solid transparent;
    background-color: rgb(43, 43, 97);
    opacity: 0.4 ;
    font-size: 16px;
    color: beige;
   }
   .haut2{
    border: 1px solid transparent;
    background-color: rgb(48, 74, 72);
    opacity: 0.6 ;
    color: beige;
    height: 15vh;
   }
   .haut2 h2{
    font-weight: 300;
    }
   .haut2 p{
    font-size: 18px;
    color: beige;
    }
    .bas2{
    border: 1px solid transparent;
    background-color: rgb(48, 74, 72);
    opacity: 0.4;
    font-size: 16px;
    color: beige;
    }
   .haut3{
    border: 1px solid transparent;
    background-color: rgb(213, 107, 108);
    opacity: 0.6 ;
    color: beige;
    height: 15vh;
   }
   .haut3 h2{
    font-weight: 300;
    }
   .haut3 p{
    font-size: 18px;
    color: beige;
    }
    .bas3{
    border: 1px solid transparent;
    background-color: rgb(213, 107, 108);
    opacity: 0.4 ;
    font-size: 16px;
    color: beige;
    }

    .about{
      margin-top: 250px;
      text-align: center;
    }
    .abou{
        text-align: center;
        text-transform: uppercase;
        font-size: 70px;
        line-height: 50px;
    }
    .creat{
        color: brown;
    }
    .sabou{
        font-size: 16px;
        font-weight: 200;
       
    }
    .info-about{
        margin: 40px 200px 40px 200px;
        text-align:center;
        font-size: 16px;
    }
    .div-about{
        width: 90%;
        display: flex;
        flex-direction: row;
        /* margin: 40px 100px 40px 0px; */
        margin-left: 80px;
        margin-right: 20px;
    }
    .div-about-div{
        width: 33%;
        display: flex;
        flex-direction: row;
    }
    .div-about-div .fa{
        width: 10%;
        font-size: 50px;
        padding: 0px 10px;
    }
    .div-about-div div{
        padding: 0 20px;
        overflow: hidden;
    }
    .div-about-div .titre{
       font-size: 22px;
       font-weight: 300;
       text-align: left;
       line-height: 2;
       padding: 0 35px;
    }
    .div-about-div .info{
     font-size: 14px;
     text-align: left;
     padding: 0px 35px;
    }
    .work{
       
        position :relative;
        margin-top: 80px;
        padding: 40px;
        /* width: 100%;
        height: 100vh; */
    }
    .div-work{
        background-color: black;
        opacity: 0.9;
        position: relative;
        left: 0;
        top: 0;
        
    }
    .div-work img{
        position: absolute;
        left:0;
        width: 100%;
    }
    .div-work img.img-dessus{
    animation-name: fondu-on-out;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-duration: 6s;
	animation-direction: alternate;
    
    }
    
@keyframes fondu-on-out {
	0%    { opacity:1; }
	25%   { opacity:0.8; }
	75%   { opacity:0; }
	100%  { opacity:0; }
}
.work-bas{
    position: absolute;
    top: 150px;
    margin: 50px;
    text-align: center;

}
.how{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing:0.5px;
}
.aliqua{
    padding: 0px 300px;
}
.work-cercle{
    position: absolute;
    display: flex;
    margin-top: 120px;
    top: 250px;
    width: 80%;
    margin-right: 50px;
    margin-left: 100px;
    
}
.cercle{
    margin: 60px;
    border-radius: 50%;
    width: 150px;
    height: 20vh;
    border: 2px solid;
    
    
}
.cercle .fa{
 font-size: 30px;
 position: relative;
 top: 55px;
 left: 55px;
 
}
.work-title{
   position: relative;
   top: -20px;
   left: 90px;
   border-bottom: 3px solid grey;
   width: 80px;
}
.work-title2{
    position: relative;
    top: -20px;
    left: 90px;
    border-bottom: 3px solid grey;
    width: 95px;
}

.work-title3{
    position: relative;
    top: -20px;
    left: 90px;
    border-bottom: 3px solid grey;
    width: 78px; 
}

.work-title4{
   position: relative;
   top: -20px;
   left: 90px;
   border-bottom: 3px solid grey;
   width: 120px;
}
.work-text{
    text-align: center;
    
}
.section-team{
    
    margin-top: 1000px;
}
.div-team{
 width: 100%;
 text-align: center;
}
.h1-team{
  font-size: 60px;
  text-transform: uppercase;
  line-height: 80px;
  font-weight: 700;
}
.team-p1{
  font-size: 15px;
 
}
.team-p2{
    margin: 30px 150px 0px 150px;
    font-size: 18px;
}
.article-team{
    margin-top: 50px;
}
.div-team2{
    display: flex;
    margin: 30px 150px 0px 150px;
    overflow: hidden;
}
.div-team-img img{
  width: 90%;
  margin: 2px;
}
.team-text{
    text-align: center;
}
.creat2{
    color: brown;
    font-size: 15px;
    text-align: center;
}
.div-team3{
    margin-top: 40px;
    text-align: center;
}
.creat3{
    color: brown;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
}
.people{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
}
.team-text2{
    padding-right: 400px;
    padding-left: 400px;
    
}
.section-wiew{
    margin-top: 90px;
    
}
.div-section-view{
    display: flex;
}
.div-view{
    position: relative;
}
.div-view img{
    /* text-align: left; */
    width: 80%;
    margin-left: 50px;
}
.btn3{
    position: absolute;
    top: 50%;
    left: 36%;
    padding: 10px;
    border-radius: 0.1rem;
    border-color: beige;
    opacity: 0.5;
    background-color:transparent;
    cursor: pointer;
    color:white;
    font-size: 14px;
    margin: 8px 6px; 
}
.div-view2{
    
    margin: 80px 250px 0px 0px;
    width: 60%;

}
.creat4{
    color: brown;
    font-size: 25px;
    font-weight: 800;
}
.creat5{
    color: brown;
    font-size: 18px;
}
.div-services{
    background-image: url("img4.jpg");
    text-align: center;
    margin-top: -9px;
}
.serv1{
    text-transform: uppercase;
    padding-top: 80px;
    font-size: 50px;
    font-weight: 900;
    line-height: 55px;
}
.creat6{
  font-size: 15px;
  color:  brown;
}
.serv-text{
   padding: 20px 200px 0px 200px;
   font-size: 18px;
}
.div-service{
    margin-top: 100px;
    display: flex;
   justify-content: center;
    /* width: 80%; */
}
.article-service{
    width: 20%;
    padding: 30px;
    text-align: left;
}

.service-title1{
    border-top: 2px solid brown;
    font-size: 25px;
    line-height: 30px;    
}
.service-title{
    font-size: 25px;
    line-height: 30px;
    border-top: 2px solid  brown;
    
}
.section-lorem{
    margin-top: 50px;
    background-image:url('images/img5.jpg') ;
    background-color: black;
    opacity: 0.5;
    height: 50vh;
}
.section-div{
   padding-top: 150px;
   text-align: center;
}
.section-our{
    margin-top: 150px;
    /* text-align: center; */
}
.p-our{
    text-align: center;
    font-size: 60px;
    line-height: 50px;
}
.creat7{
    color:  brown;
   
}
.p2-our{
    padding: 10px 250px 0px 250px;
    text-align: center;
}
.title-our{
    display: flex;
    justify-content: center;
    
}
.title-our p{
    margin: 20px;
}
.img-our{
    display: flex;
    width: 100%;
    
}
.img-our img{
    width: 24.75%;
    
}
.div2-our{
    margin-top: 50px;
}
.section-process{
    margin-top: 100px;
    
}
.p-process{
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}
.p2-process{
    padding : 20px 250px 0px 250px;
    text-align: center;
}
.div-process{
 margin-top: 50px;
 
}
.div2-process{
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}
.process-box{
  position: relative;
  left: 25%;
  width: 150px;
  height: 150px;
  border: 1px solid;
  border-radius: 0.5rem;
  
  
}
/* .trait{
    width: 50px;
    border: 1px solid;
} */
.process-box i {
    font-size: 30px;
    background-color: beige;
    position: relative;
    top: 40%;
    left: 40%;
}
.process-box hr{
    position: relative;
    left: 100%;
    top: 20%;
    width: 180px;
    
}
.div3-process{
    padding: 0px 30px 0px 30px;
}
.process-text{
    text-align: center;
    padding: 20px 400px 0px 400px ;
}
.section-numbers{
    background-image: url("images/img3.jpg");
    margin-top: 50px;
    height: 60vh;
}
.p-numbers{
    padding-top: 50px;
    text-align: center;
    font-size: 20px;

}
.div-numbers{
    display: flex;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
}
.div-div-numbers{
    width: 25%;
    height: 30vh;
    background-color: rgb(74, 74, 74);
    /* opacity: 0.5; */
}
.div-div-numbers1{
    width: 25%;
    height: 30vh;
    background-color: rgb(128, 127, 127);
    /* opacity: 0.5; */
}
.p2-numbers{
    color: beige;
    margin: 100px 0px 0px 0px;
    text-align: center;
    background-color: rgb(101, 101, 100);
}
.div-skills{
    display: flex;
    margin-top: 20px;
    width: 50%;
    margin-left: 200px;
    padding: 10px 50px 0px 30px;
}
.title-skills{
    display: flex;
    border-bottom: 1px solid ;
}

.title-skills p{
    margin:  0px 20px 0px 0px;

}
.section-footer{
    position: relative;
    margin-top: 50px;
}
.div1-footer{
    position:relative;
	margin:0 auto;
    left: 0;
    top: 0;
}
.div1-footer img{
    width: 100%;
    position:absolute;
	left:0;
    top: 30px;
    height: 85vh;
    
}
.div1-footer img .image-de-dessus{
    animation-name: fondu-in-out;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-duration: 6s;
	animation-direction: alternate;
}

@keyframes fondu-in-out {
	0%    { opacity:1; transform: scale(1,1);
           -webkit-transform:scale(1,1); }
	25%   { opacity:1; transform: scale(0.99,0.99);
        -webkit-transform:scale(0.99,0.99);}
	75%   { opacity:0; transform: scale(0.98,0.98);
        -webkit-transform:scale(0.98,0.98);}
	100%  { opacity:0; transform: scale(0.96,0.96);
        -webkit-transform:scale(0.96,0.96);}
}
.div-contact{
    position: relative;
    z-index: 3;
}
.div-text{
    position: relative;
    z-index: 3;
    display: flex;
    margin-left: 250px;
    margin-right: 100px;
}
.div-tel{
    text-align: end;
    padding: 20px 50px 0px 200px 
}
.div-tel .fa{
    margin: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(93, 93, 90);
    font-size: 20px;
    padding: 10px;
}
.div-label{
    padding: 20px 20px 0px 0px;
}
.btn4{ 
   text-align: center;
   border: 1px solid;
   width: 70px;
   height: 50px;
}
.btn5{
    margin-left: -130px;
   text-align: center;
   border: 1px solid;
   width: 180px;
   height: 50px;
   font-size: 14px;
}
.nav-footer{
    background-color: rgb(46, 44, 44);
    padding: 90px 0px 0px 100px;
    display: flex;
    color: rgb(131, 131, 127);
    padding-right: 100px;

}
.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 22);
    height: 10vh;
}